{% load static %}

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="{% url 'user-home' %}" class="navbar-brand">
                <img src="{% static 'backend/images/ccs_logo_3.png' %}" alt="logo" width="30" height="30" class="d-inline-block align-top">
                <h6 class="hover-antiquewhite" style="display: inline-block;">CCS Sitin Monitoring System</h6>
            </a>

            <button class="navbar-toggler" style="width: 40px" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="width: 20px;"></span>
            </button>

            <div class="collapse navbar-collapse mb-3" id="navbarNav">
                <ul id="main-navbar" class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'user-home' %}" class="nav-link active">
                            <i class="fas fa-home"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-profile' %}" class="nav-link active">
                            <i class="fas fa-user"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-announcements' %}" class="nav-link active">
                            <i class="fas fa-bullhorn"></i> Announcements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-sitin_history' %}" class="nav-link active">
                            <i class="fas fa-history"></i> Sit-in History
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-resources' %}" class="nav-link active">
                            <i class="fas fa-book"></i> Resources
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-schedules' %}" class="nav-link active">
                            <i class="fas fa-calendar"></i> Lab Schedules
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user-reservation' %}" class="nav-link active">
                            <i class="fas fa-calendar-check"></i> Reservation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active hover-red" onclick="document.getElementById('logout-form').submit();">
                            <i class="fas fa-sign-out-alt"></i> Log-out
                        </a>
                        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">
                            <i class="fas fa-sign-in-alt"></i> Log-in
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-shield-alt"></i> Privacy
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% url 'user-survey' as survey_url %}
    {% if request.get_full_path != survey_url and request.user.sitinsurvey.status == 'not taken' %}
    <div class="bg-primary p-2 text-white small">
        <div class="container d-flex justify-content-between">
            <span>Are you satisfied with your experience? Take the 
                <a href="{{ survey_url }}" class="text-white">satisfaction survey</a>
                here!
            </span>
            <button type="button" class="btn-ghost" onclick="this.parentElement.parentElement.remove();">
                <i class="fas fa-times text-white"></i>
            </button>
        </div>
    </div>
    {% endif %}
</header>

<style>
    .btn-ghost {
        background-color: transparent;
        border-width: 0;
        cursor: pointer;
    }
</style>