{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:admin-sitin_index' %}">Sit-in Management</a>
&rsaquo; <a href="{% url 'admin:search_sitins_changelist' %}">Search Sitins</a>
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content_title %}
<h1>Add Sit-in for this Student</h1>
{% endblock %}