{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<style>
  .app-navigation table {
    width: 100%;
  }
</style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block nav-breadcrumbs %}
  <nav aria-label="{% translate 'Breadcrumbs' %}">
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
      &rsaquo; Notifications
    </div>
  </nav>
{% endblock %}

{% block content %}
  {% block content_title %}{% endblock %}
  <h1>{% translate "Notifications" %}</h1>
  <p>{% translate "Manage user notifications here." %}</p>
  <div class="app-navigation">
    <div class="card">
      <div class="card-body">
        <h4>Navigate to Notifications Management Modules:</h4>
        {% include 'admin/app_list.html' with app_list=app_list %}
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
